# Copy this file to `.env` and replace the placeholder with your real connection string.
# Connection string for PostgreSQL.
# Requires PostgreSQL >= 15.

DATABASE_URL="postgresql://postgres.tyrgojwbxcuecdemsxqh:sFMuN9icwLxpLiSa@aws-1-eu-west-3.pooler.supabase.com:6543/postgres?pgbouncer=true"
